*{
margin:0;
padding:0;
}
H1 {
font-size:4em;
background:grey;
} 
H1:hover {
cursor:pointer;
text-decoration:underline;
}

p{
font-size:1.2em;
letter-spacing:5px;
character-spacing:4px;
margin-left:0px;
margin-right:60px;
width:1200px;
font-family:arial;
padding:50px;
font-weight:bold;
margin-top:-45px;
width:2000px;

}


p:hover{
background:yellow; 
color:red;
}

nav{
background:grey;
}

a{
color:white;
}

span{
text-decoration:underline;
font-size:2em;
}

FOOTER{
background:yellow;
color:blue;
font-size:1.2em;
}

h2{
margin-top:-80px;
font-size:3em;
background:yellow;
}